checkpoints/
.env
__pycache__/
checkpoints/
.cache/
models/gpt2_128_8.ckpt
models/gpt2_256_8.ckpt
models/gpt2_512_8.ckpt
models/gpt2_128_12.ckpt
models/gpt2_256_12.ckpt
models/gpt2_512_12.ckpt
models/gpti_128_8.ckpt
models/gpti_256_8.ckpt
models/gpti_512_8.ckpt